<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">


<h3><b>Antidepresivos</b></h3>

<p style="text-align: justify">
  Un antidepresivo es un medicamento psicotrópico utilizado para tratar los trastornos depresivos mayores, que pueden
  aparecer en forma de uno o más episodios a lo largo de la vida, diversos trastornos de ansiedad, ciertos desórdenes
  de la conducta alimentaria y alteraciones del control de los impulsos. A veces son eficaces para tratar la fase
  depresiva del trastorno bipolar, aunque existe el riesgo de sufrir un viraje maníaco. Los antidepresivos se dividen
  en tres clases: los inhibidores de la monoaminooxidasa (IMAO), los tricíclicos, y los de segunda generación, muy
  recetados actualmente en psiquiatría por la menor cantidad y probabilidad de sufrir efectos secundarios, que actúan
  sobre la recaptación de los tres principales neurotransmisores que intervienen en la depresión, es decir, la
  serotonina, la noradrenalina (o norepinefrina) y la dopamina, o de dos de ellos. Para el tratamiento de otras
  patologías, como el insomnio o el dolor neuropático, las dosis son significativamente más bajas que las utilizadas
  para tratar la depresión clínica.
</p>

<h4><b>Clases de Antidepresivos</b></h4>

<table class="paperlist" style="text-align: justify">
  <tbody>
  <tr>
    <td>
      - Inhibidores selectivos de la recaptación de serotonina (ISRS)
    </td>
  </tr>

  <tr>
    <td>
      - Inhibidores selectivos de la recaptación de dopamina (ISRD)
    </td>
  </tr>

  <tr>
    <td>
      - Inhibidores selectivos de la recaptación de noradrenalina (o norepinefrina) (ISRN)
    </td>
  </tr>

  <tr>
    <td>
      - Inhibidores selectivos de la recaptación de serotonina y noradrenalina (o norepinefrina) (IRSN)

    </td>
  </tr>

  <tr>
    <td>
      - Inhibidores selectivos de la recaptación de dopamina y noradrenalina (o norepinefrina) (IRDN)
    </td>
  </tr>

  <tr>
    <td>
      - Antidepresivos tricíclicos (ATC)
    </td>
  </tr>

  <tr>
    <td>
      - Inhibidores de la monoaminooxidasa (IMAO)
    </td>
  </tr>

  <tr>
    <td>
      - Antidepresivos tetracíclicos
    </td>
  </tr>

  <tr>
    <td>
      - Noradrenérgicos y antidepresivos serotoninérgicos específicos (NaASE)
    </td>
  </tr>

  <tr>
    <td>
      - Potenciadores selectivos de la recaptación de serotonina (PSRS)
    </td>
  </tr>

  <tr>
    <td>
      - Opioides
    </td>
  </tr>
</table>

<br>


<p style="text-align: justify">
  Se cree que los efectos terapéuticos de los antidepresivos modernos están relacionados con una actividad sobre los
  neurotransmisores. En particular, por la inhibición de las proteínas transportadoras de monoamina de la serotonina,
  dopamina o noradrenalina (norepinefrina), o dos de ellas al mismo tiempo. Inhibiendo de forma selectiva la
  recaptación de dichos neurotransmisores por esos antidepresivos, se incrementa el nivel de éstos en las sinapsis, es
  decir los puntos de conexión entre las neuronas, o células nerviosas.

</p>

<p style="text-align: justify">

  Por el contrario, los primeros antidepresivos, los inhibidores de la monoaminooxidasa, bloquean la oxidación de los
  neurotransmisores por la enzima monoaminooxidasa, que los descompone. Desarrollados también antes de los
  antidepresivos modernos, los antidepresivos tricíclicos previenen al igual que éstos la recaptación de
  neurotransmisores, pero de forma no selectiva, por lo que actúan entre otros sobre la serotonina, la noradrenalina y
  la dopamina a la vez. Aunque estos medicamentos son claramente efectivos para tratar la depresión, la teoría actual
  aún deja algunas cuestiones sin respuesta. Por ejemplo, los niveles terapéuticos de concentración sanguínea se
  alcanzan en sólo unos pocos días y comienzan a afectar la actividad de los neurotransmisores en poco tiempo. Sin
  embargo, generalmente los cambios en el estado de ánimo tardan en aparecer cuatro semanas o más. Una explicación
  sostiene que la "desregulación" de los receptores para los neurotransmisores es aparentemente una consecuencia del
  exceso de señales entre las neuronas, y que por lo tanto el efecto tarda algunas semanas en notarse. Otra teoría,
  basada en investigaciones recientemente publicadas por los Institutos Nacionales de Salud de los Estados Unidos
  sugieren que los antidepresivos podrían derivar sus efectos de la promoción de la neurogénesis en el hipocampo.
  Investigaciones recientes apuntan a que los antidepresivos actuarían sobre algunos factores de transcripción
  llamados "genes reloj", los cuales también estarían involucrados en patologías situaciones de abuso de drogas y
  posiblemente en la obesidad.
</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<h2 style="text-align: right; font-size: 12px;">Fuente:<a
href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
class="fa fa-wikipedia-w"></i></a></h2>

</div>