<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>Atención</b></h3>

  <p style="text-align: justify">
    La atención es la capacidad que tiene alguien para entender las cosas o un objetivo, tenerlo en cuenta o en
    consideración. Desde el punto de vista de la psicología, la atención no es un concepto único, sino el nombre
    atribuido a una variedad de fenómenos. Tradicionalmente, se ha considerado de dos maneras distintas, aunque
    relacionadas. Por una parte, la atención como una cualidad de la percepción hace referencia a la función de la
    atención como filtro de los estímulos ambientales, decidiendo cuáles son los estímulos más relevantes y dándoles
    prioridad por medio de la concentración de la actividad psíquica sobre el objetivo, para un procesamiento más
    profundo en la conciencia. Por otro lado, la atención es entendida como el mecanismo que controla y regula los
    procesos cognitivos; desde el aprendizaje por condicionamiento hasta el razonamiento complejo.

  </p>

  <p style="text-align: justify">
    En muchos casos actúa de manera inconsciente iniciado en el hemisferio cerebral izquierdo y es mantenida en el
    hemisferio derecho. El estar atento ("Poner atención" o "prestar atención") tampoco es un comportamiento único del
    ser humano.
  </p>

  <p style="text-align: justify">
    Hay estudios del Massachusetts Institute of Technology donde varios científicos y estudiantes comprueban que tanto se
    puede afectar la atención de un individuo. Uno de los principales objetivos era ver si una persona era capaz de
    mantener la atención, teniendo en el oído un auricular al estar entablando un conversación o escuchando a otra
    persona. Como ya se había dicho anteriormente "prestar atención" no es un comportamiento único del ser humano.
    algunos experimentos fracasaron, pero la mayoría lograron entender lo que se les estaba diciendo o ya sea mantener
    la conversación. Esto depende a que altura de sonido se este escuchando o también de que tipo de melodía se esta
    escuchando, ya que las de carácter un poco ruidosas como el rock es mas difícil que una persona logre entender la
    información que se le de.


  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>

  <br>
</div>