<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>División Neuroanatómica Estructural</b></h3>

  <center><img class="img-responsive" src="img/Rotating_brain_colored.gif" alt=""/></center>
  <p style="text-align: justify">
    El sistema nervioso de los vertebrados está constituido por el cerebro y la médula espinal (el sistema nervioso
    central o SNC) y por las rutas de los nervios que se conectan con el resto del cuerpo (el sistema nervioso
    periférico o SNP). El sistema nervioso central (SNC) consiste en el cerebro, la retina, y la médula espinal,
    mientras que el sistema nervioso periférico (SNP) se compone de todos los nervios fuera del sistema nervioso central
    que lo conectan con el resto del cuerpo.

  </p>

  <p style="text-align: justify">
    El sistema nervioso central está compuesto de las regiones del cerebro, tales como, por ejemplo, el hipocampo que es
    crítico para la formación de las memorias. El sistema nervioso también contiene los nervios, que son haces de fibras
    que se originan en el cerebro y la médula espinal, y se ramifican varias veces para inervar a cada parte del cuerpo.
    Los nervios están constituidos principalmente de los axones de las neuronas, junto con una variedad de membranas que
    recubren los fascículos nerviosos.
  </p>

  <p style="text-align: justify">

    El cerebro y la médula espinal están exteriormente protegidos por las estructuras óseas que son el cráneo y la
    columna vertebral. Interiormente son envueltos por tres membranas: la duramadre, la aracnoides y la piamadre. Además
    están bañados por el líquido cefalorraquídeo que completa los espacios vacíos y actúa como amortiguador de golpes,
    entre otras funciones.

  </p>

  <p style="text-align: justify">
    Con el fin de precisar las ubicaciones anatómicas se hacen frecuentes referencias a detalles notorios del cerebro
    como las cisuras y se utilizan planos de orientación o planos de sección que generalmente son "sagital",
    "transversal" o "coronal" u horizontal.
  </p>

  <h5 style="text-align: center"><b>El SNC (sistema nervioso central) está constituido anatómicamente por el:</b></h5>

  <table class="paperlist">
    <li>Cerebro.</li>
    <li>Protuberancia.</li>
    <li>Cerebelo.</li>
    <li>Bulbo raquídeo.</li>
    <li>Médula espinal (Porciones Cervical, Dorsal, Lumbar, Sacra y Coccígea).</li>
    <li>Nervios Craneales I y II.</li>
  </table>
  <h5 style="text-align: center"><b>El SNP (sistema nervioso periférico) está constituido anatómicamente por el:</b></h5>

  <table class="paperlist">
    <li>Nervios Craneales III a XII.</li>
    <li>Nervios Espinales (Entre ellos se destacan 2 plexos en Plexo Braquial y Lumbosacro).</li>
  </table>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>

  <br>
</div>