<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<div class="col-lg-6 col-lg-offset-3 well">
<h3><b>Tratamiento de la esclerosis múltiple con interferón alfa-2b recombinante</b></h3>

<p style="text-align: justify">
  La Esclerosis Múltiple (EM) es una enfermedad inflamatoria-desmielinizante del Sistema Nervioso Central (SNC). Se
  caracteriza en el periodo agudo por la presencia de un infiltrado celular inflamatorio con ruptura de la barrera
  hematoencefálica. Si bien puede ocurrir remielinización en cualquier momento, la proliferación glial determina
  cicatrices. Sólo se dispone de tratamientos sintomáticos con el uso de esteroides, especialmente las altas dosis de
  metilprednisolona que acortan la duración e intensidad de las recaídas. Sin embargo, hasta la fecha, no existe
  tratamiento efectivo para modificar el curso de la enfermedad en las forma crónica progresiva, mientras que en la
  forma exacerbación-remisión (ER) recientemente se demostró que los interferones (IFN) pueden cambiar la historia
  natural de esta forma clínica. Los IFN son modificadores de la respuesta biológica con acciones antiproliferativa,
  antiviral e inmunomoduladora. Se ha demostrado que el IFN gamma o tipo II juega un papel patogénico en el desarrollo
  de la EM, mientras que esta acción es contrarrestada por los IFN tipo I, alfa y beta, que comparten el mismo
  receptor en la membrana celular y cierta homología estructural. Se ha demostrado que los IFN tipo I revierten muchas
  de las alteraciones inmunitarias del SNC que ocurren en la EM:
</p>

<table class="paperlist" style="text-align: justify">
  <tbody>
  <tr>
    <td>
      - inhibición de la expresión de antígenos de histocompatibilidad de clase II inducida por IFN gamma
    </td>
  </tr>

  <tr>
    <td>
      - inhibición de la activación de células T auxiliadoras
    </td>
  </tr>

  <tr>
    <td>
      - disminución de la producción de IgG por las células plasmáticas
    </td>
  </tr>

  <tr>
    <td>
      - aumento de la producción de IFN y de la actividad de células Natural Killer por los linfocitos de pacientes
      con EM
    </td>
  </tr>

  <tr>
    <td>
      - disminución de la producción de IFN gamma inducida por antígenos MHC-II
    </td>
  </tr>

  <tr>
    <td>
      - aumento de la actividad T-supresora, disminuida en la EM
    </td>
  </tr>
</table>

<br>


<p style="text-align: justify">
  Se han realizado numerosos ensayos clínicos con IFN en la EM. Dos preparaciones de IFN beta recombinante (el
  producido en bacterias y el glicosilado, producido en células de mamífero), han demostrado ser eficaces en la
  reducción de la frecuencia de las recaídas en la EM de curso exacerbación-remisión (EM-ER), así como en la
  disminución de la progresión de la incapacidad neurológica y en las lesiones observadas por imágenes de resonancia
  magnética nuclear (RMN). Estos resultados derivan de un estudio en nueve pacientes con lesiones características de
  la enfermedad mediante resonancia magnética y bandas oligoclonales (bandas de IgG) en el líquido cefalorraquídeo sin
  presentar alteraciones en las velocidades de conducción motora y sensitiva de las cuatro extremidades.

</p>

<p style="text-align: justify">


</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<p style="text-align: justify">

</p>

<h2 style="text-align: right; font-size: 12px;">Fuente:<a
href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
class="fa fa-wikipedia-w"></i></a></h2>
</div>
