<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>El caso de Phineas Gage</b></h3>

  <p style="text-align: justify">
    Phineas P. Gage (1823 – 21 de mayo de 1861) fue un obrero de ferrocarriles, quien debido a un accidente sufrió daños
    severos en el cerebro, específicamente en parte del lóbulo frontal. Gage sufrió cambios notorios en su personalidad
    y temperamento, lo que se consideró como prueba de que los lóbulos frontales eran los encargados de procesos
    relacionados con las emociones, la personalidad y las funciones ejecutivas en general.
  </p>

  <div id="bannerImage">
    <center><img class="img-responsive" src="img/gage.jpg" alt=""/></center>
  </div>
  <br>

  <p style="text-align: justify">
    El 13 de septiembre de 1848, Gage dirigía un grupo de trabajo que estaba volando rocas para la construcción de la
    vía de ferrocarril Rutland & Bulrington, al sur de la localidad de Cavendish, Vermont. Para ello preparaba las
    detonaciones perforando un agujero en la roca, añadiendo explosivos, un detonador y arena, para terminar compactando
    esta carga con una barra de hierro. Gage estaba realizando estas tareas alrededor de las 16:30 horas cuando
    (posiblemente porque se le olvidara añadir la arena), se creó una chispa al contacto entre el hierro y la roca
    que provocaría la explosión de la pólvora, expeliendo la barra fuera del agujero —de alrededor de 1,1 m de longitud
    y 3,2 cm de diámetro —, la cual atravesó el cráneo de Gage, «entrando
    por el lado [izquierdo] de la cara [de Gage] [...] pasando por detrás del ojo izquierdo y saliendo por la parte
    superior de la cabeza».
  </p>

  <p style="text-align: justify">
    Sorprendentemente Gage no solo sobrevivió al accidente, sino que se mantuvo consciente en todo momento. La crónica
    de la época relata incluso que habló a los pocos minutos. Después del accidente lo llevaron en una carreta varios
    kilómetros hasta la consulta del doctor Harlow, uno de los médicos del pueblo, que fue quien dejó constancia de su
    evolución, ya que Gage seguía consciente mientras lo llevaban.

    Sobrevivir a una explosión y a una herida como esa con la rudimentaria medicina de la época y seguir siendo capaz de
    andar y hablar racionalmente es sorprendente. No menos sorprendente es que dos meses después el doctor Harlow
    consideraría que Gage estaba completamente recuperado, dándole el alta.

  </p>

  <p style="text-align: justify">
    Podemos entresacar lo que ocurrió a partir del relato que el doctor Harlow preparó 20 años después. Como ya hemos
    dicho, la recuperación física de Gage fue completa. Sin embargo, en palabras del propio Harlow "El equilibrio entre
    su facultad intelectual y sus propensiones animales se había destruido".: Tras pasar la fase aguda, Gage se volvió
    irregular, irreverente, blasfemo e impaciente. A veces era obstinado cuando le llevaban la contraria, pero pese a
    que continuamente estaba pensando en planes futuros "los abandonaba mucho antes de prepararlos", y era muy bueno a
    la hora de "encontrar siempre algo que no le convenía". Esto contrastaba con el hecho de que previamente al
    accidente era un hombre responsable.
  </p>

  <p style="text-align: justify">
    Después de su accidente Phineas perdió su trabajo en el ferrocarril. Se ha afirmado que era incapaz de mantener uno
    por mucho tiempo, ya que los abandonaba o lo despedían por sus continuas riñas con sus compañeros. Tras trabajar en
    varias granjas Gage fue exhibido en el circo, en el que enseñaba orgulloso su herida y la barra de hierro que la
    provocó. Trabajó algún tiempo como conductor de diligencias en Chile, que hacían el recorrido entre Valparaíso y
    Santiago. Luego volvió a reunirse con su familia en San Francisco, donde se habían trasladado. Su salud se estaba
    deteriorando y murió probablemente con 38 años tras una serie de crisis epilépticas. Actualmente tanto el cráneo
    como la barra de hierro se conservan en el museo de medicina de la universidad de Harvard.
  </p>

  <p style="text-align: justify">
    El caso de Gage está considerado como una de las primeras pruebas científicas que sugerían que una lesión del lóbulo
    frontal podía alterar aspectos de la personalidad, la emoción y la interacción social. Antes de este caso (y
    bastante tiempo después) los lóbulos frontales se consideraban estructuras silentes (sin función), y sin relación
    alguna con el comportamiento humano.
  </p>

  <p style="text-align: justify">

  </p>

  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>

  <br>
</div>