<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>Inteligencia artificial computacional</b></h3>

  <p style="text-align: justify">
    Inteligencia Computacional (IC) es una rama de la inteligencia artificial centrada en el estudio de mecanismos
    adaptativos para permitir el comportamiento inteligente de sistemas complejos y cambiantes. Se presenta como una
    alternativa a la GOFAI ("Good Old-Fashioned Artificial Intelligence"), tratando de no confiar en algoritmos
    heurísticos tan habituales en la Inteligencia Artificial más tradicional. Dentro de la Inteligencia Computacional
    podemos encontrar técnicas como las Redes Neuronales, Computación Evolutiva, Swarm Intelligence, Sistemas Inmunes
    Artificiales o Sistemas difusos. También se relaciona con técnicas como los Fractales, Teoría del Caos, Wavelets,
    Autómata celular, etc.
  </p>


  <p style="text-align: justify">
    La Inteligencia artificial Computacional (también conocida como IA subsimbólica-inductiva) combina elementos de
    aprendizaje, adaptación, evolución y Lógica difusa para crear programas que son, en cierta manera, inteligentes. La
    investigación en Inteligencia Computacional no rechaza los métodos estadísticos, pero muy a menudo aporta una vista
    complementaria. Las Redes Neuronales son una rama de la inteligencia computacional muy relacionada con el
    aprendizaje automático.

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>

</div>