<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">

<h3> <b>Los canales iónicos dependientes del voltaje</b> </h3>

<p style="text-align: justify"> Los canales iónicos son proteínas transmembrana que contienen poros acuosos que cuando
  se abren
  permiten el paso selectivo de iones específicos a través de las membranas celulares . Así, los canales iónicos son
  proteínas
  que controlan el paso de iones, y por tanto el gradiente electroquímico, a través de la membrana de toda célula viva
  . Estos
  canales actúan como compuertas que se abren o se cierran en función de los estímulos externos, aunque algunas
  sustancias tóxicas
  pueden desactivar su función natural . En los mamíferos, los canales iónicos determinan importantes procesos como:
  la excitación del
  nervio y del músculo, la secreción de hormonas y neurotransmisores, la transducción sensorial, el control del
  equilibrio hídrico y
  electrolítico, la regulación de la presión sanguínea, la proliferación celular y los procesos de aprendizaje y
  memoria .
</p>
<center><img class="img-responsive" src="img/estructura-canales-ionicos-2.gif" alt=""/></center>

<p style="text-align: justify"> Todas las células vivas deben adquirir de su alrededor las materias primas para la
  biosíntesis y la producción
  de energía, y deben liberar a su entorno los productos de desecho del metabolismo . Las células promueven
  intercambios de materia con su
  entorno y están rodeadas por una membrana plasmática que separa su interior del exterior . Unos pocos compuestos
  apolares pueden disolverse
  en la bicapa lipídica y cruzar la membrana plasmática sin ningún obstáculo(difusión de partículas liposolubles tales
  como: oxígeno, alcohol,
  ácidos grasos, entre otros). Sin embargo, en el caso de compuestos polares(ej . azúcar, aminoácidos, iones, entre
  otros) es esencial una
  proteína de membrana para el transporte transmembrana, una vez que la estructura de bicapa lipídica no es fácilmente
  permeable a este tipo
  de partículas . El transporte de estas sustancias hacia dentro y fuera de la célula o entre diferentes
  compartimentos intracelulares se lleva
  a cabo por proteínas de membrana como bombas, transportadores y canales iónicos . Los canales iónicos están formados
  por glicoproteínas y son
  componentes esenciales en la actividad de todas las células .
</p>

<p style="text-align: justify"> Los canales tienen tres propiedades importantes:</p>
<list style="justify">
  <li> conducen iones</li>
  <li> reconocen y seleccionan los iones(los canales pueden ser selectivamente permeables a uno o varios iones)</li>
  <li> se abren y cierran en respuesta a estímulos eléctricos, químicos o mecánicos .</li>
</list>
<br>
<p style="text-align: justify">
  Los canales iónicos forman poros de membrana que pueden abrirse y cerrarse . Cuando el canal iónico se abre, forma
  un poro acuoso que
  se extiende a través del espesor de la membrana . El flujo de iones a través de un canal debido a diferencias en el
  potencial eléctrico
  o en las concentraciones es pasivo, o sea, no necesita de gasto metabólico energético por parte de la célula . Los
  iones fluyen pasivamente
  en favor de su gradiente electroquímico . La energía viene de las fuerzas químicas de difusión, ósmosis y equilibrio
  electroquímico .
  Así, las dos grandes fuerzas que impulsan a los iones moverse son la diferencia de concentración y el gradiente
  eléctrico(a ambas se le
  llaman fuerza electromotriz). Ya que en la región de mayor concentración la probabilidad de que las partículas
  choquen entre sí es mayor,
  la migración de una partícula de esta región a una de menor concentración es termodinámicamente favorecida, se dice
  que la partícula se
  mueve en favor de un gradiente químico o de concentración . Pueden ser de dos tipos: de filtración - que siempre se
  mantienen abiertos o
  de compuerta - que abren y se cierran en reacción a algún tipo de estímulo .
</p>
<br>
<center><img class="img-responsive" src="img/Ionanimation2.gif" alt=""/></center>

<p style="text-align: justify">
  En electrofisiología, el término en inglés gating suele utilizarse para referirse a la apertura(a través de la
  activación) y al cierre
  (a través de la desactivación o inactivación) de los canales iónicos .<br></p>
<p style="text-align: justify">
  El nombre gating(de gate, "puerta",
  "compuerta") deriva de la
  idea de que una proteína del canal iónico incluye un poro que es resguardado por una o por varias compuertas, y
  la(s) compuerta(s) debe(n)
  estar abierta(s) para que los iones pasen a través del poro . Diversos cambios celulares pueden disparar la
  activación de la(s) compuerta(s),
  en función del tipo de canal iónico de que se trate, entre otros: cambios en el voltaje en la membrana
  celular(canales iónicos activados por
  voltaje), sustancias químicas(fármacos, sustancias adictivas, hormonas) que interactúan con el canal iónico(canales
  iónicos activados por
  ligandos), cambios en la temperatura, un estrechamiento o una deformación de la membrana celular, adición de un
  grupo fosfato al canal
  iónico(fosforilación) e interacción con otras moléculas de la célula(por ejemplo, proteínas G). La velocidad a la
  que ocurre cualquiera
  de estos procesos de activación / inactivación en respuesta a estos estímulos se conoce con el nombre de cinética de
  la activación . Algunos
  fármacos y muchas toxinas actúan como "modificadores de la activación" de los canales iónicos modificando la
  cinética de las compuertas .</p>
<p style="text-align: justify">    <br>
  Algunos canales se abren o cierran aleatoriamente sin importar el valor del potencial membranal y se dice que su
  gating es independiente de
  voltaje . En contraste, otros canales están normalmente cerrados, pero su probabilidad de apertura puede
  incrementarse de manera sustancial por
  cambios ocurridos en el potencial de membrana(canales iónicos sensibles a voltaje); por interacciones específicas
  con ligandos extracelulares
  o intracelulares(canales activados por ligandos); o por estímulos físicos(mecanorreceptores y canales sensibles al
  calor).Cuando los canales
  iónicos están cerrados(sin posibilidad de conducción), son impermeables a los iones y no conducen la corriente
  eléctrica . Cuando los canales
  iónicos están abiertos, sí conducen la corriente eléctrica, y permiten entonces que algunos iones pasen a través de
  ellos y, por consiguiente,
  a través de la membrana plasmática de la célula . Estos flujos de iones generan una corriente eléctrica a través de
  la membrana . La dirección
  en que se mueven, tal y como se mencionó anteriormente, está determinada por el gradiente electroquímico que
  representa la suma del gradiente
  químico a través de la membrana plasmática y el campo eléctrico que experimenta el ion . La activación es el proceso
  en el que un canal iónico
  se transforma y pasa de cualquiera de sus estados de conducción a cualquiera de sus estados de no conducción .</p>
<p style="text-align: justify">    <br>
  En la descripción habitual
  de los canales iónicos activados por voltaje del potencial de acción, se habla de cuatro procesos: activación,
  desactivación, inactivación y
  reactivación(también llamada recuperación de la inactivación). En un modelo de canal iónico con dos compuertas(una
  compuerta de activación
  y una compuerta de inactivación) en el cual ambas deben estar abiertas para que los iones sean conducidos a través
  del canal, activación es
  el proceso de apertura de la compuerta de activación, que ocurre en respuesta al hecho de que el voltaje dentro de
  la membrana celular(el
  potencial de membrana) se vuelve más positivo con respecto al exterior de la célula(despolarización); desactivación
  es el proceso opuesto,
  es decir, el cierre de la compuerta en respuesta al hecho de que el voltaje del interior de la membrana se vuelve
  más negativo
  (repolarización . Inactivación es el cierre de la compuerta de inactivación; al igual que con la activación, la
  inactivación ocurre en
  respuesta al hecho de que el voltaje dentro de la membrana se vuelve más positivo, pero a menudo sucede que se
  retrasa, en comparación con
  la activación . La recuperación de la inactivación es lo opuesto a la inactivación . Así, tanto la inactivación como
  la desactivación son
  procesos que hacen que el canal pierda la capacidad de conducción, pero son procesos diferentes en el sentido de que
  la inactivación se
  dispara cuando el interior de la membrana se vuelve más positivo, mientras que la desactivación se dispara cuando el
  potencial de la membrana
  se vuelve más negativo .
</p>

<h2 style="text-align: right; font-size: 12px;">Fuente:<a
href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
class="fa fa-wikipedia-w"></i></a></h2>

<br>
</div>