<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>Modelado de Neuronas Individuales</b></h3>


  <p style="text-align: justify">

    Cada neurona individual posee características biofísicas complejas. El modelo original de Hodgkin y Huxley empleaba
    únicamente dos corrientes sensibles al voltaje: el sodio de acción rápida y el potasio de rectificación interna. A
    pesar de los éxitos en la predicción del ritmo y las características cualitativas del potencial de acción, resultaba
    imposible predecir ciertas características esenciales tales como la adaptación y la derivación eléctrica. Hoy en día
    los científicos creen que existe una amplia gama de corrientes sensibles al voltaje, y que las implicaciones de las
    dinámicas diferenciales, las modulaciones y la sensibilidad de estas corrientes son un tema importante en la
    neurociencia computacional.

  </p>

  <p style="text-align: justify">
    Las funciones computacionales de las dendritas complejas se encuentran también bajo intensa investigación. Existe
    una gran cantidad de literatura referida a cómo diferentes corrientes interactúan con las propiedades geométricas de
    las neuronas.
  </p>

  <p style="text-align: justify">


  </p>

  <p style="text-align: justify">

  </p>


  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>

  <br>

</div>
