<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">

  <h3><b> Neuronas </b></h3>

  <p style="text-align: justify">
  <p style="text-align: justify">Las neuronas (del griego νεῦρον [neuron], ‘cuerda’, ‘nervio’ ) son un tipo de células del
    sistema nervioso cuya
    principal función es la excitabilidad eléctrica de su
    membrana plasmática. Están especializadas en la recepción de estímulos y conducción del impulso nervioso (en forma
    de potencial de acción) entre ellas o con otros tipos celulares
    como, por ejemplo, las fibras musculares de la placa motora. Altamente diferenciadas, la mayoría de las neuronas no
    se dividen una vez alcanzada su madurez; no obstante, una minoría
    sí lo hace. </p>
  <p style="text-align: justify">Las neuronas presentan unas características morfológicas típicas que sustentan sus
    funciones: un cuerpo celular,
    llamado soma o «pericarion» central; una
    o varias prolongaciones cortas que generalmente transmiten impulsos hacia el soma celular, denominadas dendritas; y
    una prolongación larga, denominada axón o
    «cilindroeje», que conduce los impulsos desde el soma hacia otra neurona u órgano diana.</p>
  <p style="text-align: justify">La neurogénesis en seres adultos fue descubierta apenas en el último tercio del siglo XX.
    Hasta hace pocas décadas
    se creía que, a diferencia de la mayoría de las otras
    células del organismo, las neuronas normales en el individuo maduro no se regeneraban, excepto las células
    olfatorias. Los nervios mielinados del sistema nervioso periférico
    también tienen la posibilidad de regenerarse a través de la utilización del neurolema, una capa formada de los
    núcleos de las células de Schwann.<br></p>
  </p>

  <center><img class="img-responsive" src="img/neurona.png" alt=""></center>

  <h4><b>Morfología</b></h4>

  <p style="text-align: justify">
    Una neurona típica consta de: un núcleo voluminoso central, situado en el soma; un pericarion que alberga los
    orgánulos celulares típicos de cualquier célula eucariota; y neuritas (esto es, generalmente un axón y varias
    dendritas) que emergen del pericarion.<br>
  </p>

  <h5 style="text-align: center"><b>Núcleo</b></h5>

  <p style="text-align: justify">
    Situado en el cuerpo celular, suele ocupar una posición central y es muy visible, especialmente en las neuronas
    pequeñas. Contiene uno o dos nucléolos prominentes, así como una cromatina dispersa, lo que da idea de la
    relativamente alta actividad transcripcional de este tipo celular. La envoltura nuclear, con multitud de poros
    nucleares, posee una lámina nuclear muy desarrollada. Entre ambos puede aparecer el cuerpo accesorio de Cajal, una
    estructura esférica de entorno a 1 μm de diámetro que corresponde a una acumulación de proteínas ricas en los
    aminoácidos arginina y tirosina.
  </p>

  <h5 style="text-align: center"><b>Precarión</b></h5>

  <p style="text-align: justify">
  <p style="text-align: justify">Diversos orgánulos llenan el citoplasma que rodea al núcleo. El orgánulo más notable, por
    estar el pericarion lleno
    de ribosomas libres y adheridos al retículo rugoso, es la llamada sustancia de Nissl, al microscopio óptico, se
    observan como grumos basófilos, y, al electrónico, como apilamientos de cisternas del retículo endoplasmático. Tal
    abundancia de los orgánulos relacionados en la síntesis proteica se debe a la alta tasa biosintética del
    pericarion.</p>

  <p style="text-align: justify">Estos son particularmente notables en neuronas motoras somáticas, como las del cuerno
    anterior de la médula espinal
    o en ciertos núcleos de nervios craneales motores. Los cuerpos de Nissl no solamente se hallan en el pericarion sino
    también en las dendritas, aunque no en el axón, y es lo que permite diferenciar de dendritas y axones en el
    neurópilo.</p>

  <p style="text-align: justify">El aparato de Golgi, que se descubrió originalmente en las neuronas, es un sistema muy
    desarrollado de vesículas
    aplanadas y agranulares pequeñas. Es la región donde los productos de la sustancia de Nissl posibilitan una síntesis
    adicional. Hay lisosomas primarios y secundarios (estos últimos, ricos en lipofuscina, pueden marginar al núcleo en
    individuos de edad avanzada debido a su gran aumento).10 Las mitocondrias, pequeñas y redondeadas, poseen
    habitualmente crestas longitudinales.</p>

  <p style="text-align: justify">En cuanto al citoesqueleto, el pericarion es rico en microtúbulos (clásicamente, de
    hecho, denominados neurotúbulos,
    si bien son idénticos a los microtúbulos de células no neuronales) y filamentos intermedios (denominados
    neurofilamentos por la razón antes mencionada). Los neurotúbulos se relacionan con el transporte rápido de las
    moléculas de proteínas que se sintetizan en el cuerpo celular y que se llevan a través de las dendritas y el
    axón.</p>

  </p>


  <h5 style="text-align: center"><b>Dendritas</b></h5>

  <p style="text-align: justify">
    Las dendritas son ramificaciones que proceden del soma neuronal que consisten en proyecciones citoplasmáticas
    envueltas por una membrana plasmática sin envoltura de mielina. En ocasiones, poseen un contorno irregular,
    desarrollando espinas. Sus orgánulos y componentes característicos son: muchos microtúbulos y pocos neurofilamentos,
    ambos dispuestos en haces paralelos; muchas mitocondrias; grumos de Nissl, más abundantes en la zona adyacente al
    soma; retículo endoplasmático liso, especialmente en forma de vesículas relacionadas con la sinapsis.
  </p>


  <h5 style="text-align: center"><b>Axón</b></h5>

  <p style="text-align: justify">
  <p style="text-align: justify">El axón es una prolongación del soma neuronal recubierta por una o más células de Schwann
    en el sistema nervioso
    periférico de vertebrados, con producción o no de mielina. Puede dividirse, de forma centrífuga al pericarion, en:
    cono axónico, segmento inicial, resto del axón.</p>

  <p style="text-align: justify">Cono axónico. Adyacente al pericarion, es muy visible en las neuronas de gran tamaño. En
    él se observa la progresiva
    desaparición de los grumos de Nissl y la abundancia de microtúbulos y neurofilamentos que, en esta zona, se
    organizan en haces paralelos que se proyectarán a lo largo del axón.</p>

  <p style="text-align: justify">Segmento inicial. En él comienza la mielinización externa. En el citoplasma, a esa altura
    se detecta una zona rica en
    material electronodenso en continuidad con la membrana plasmática, constituido por material filamentoso y partículas
    densas; se asume que interviene en la generación del potencial de acción que transmitirá la señal sináptica. En
    cuanto al citoesqueleto, posee esta zona la organización propia del resto del axón. Los microtúbulos, ya
    polarizados, poseen la proteína τ pero no la proteína MAP-2.</p>

  <p style="text-align: justify">Resto del axón. En esta sección comienzan a aparecer los nódulos de Ranvier y las
    sinapsis.</p>

  </p>

  <h4><b>Clasificación</b></h4>

  <h5 style="text-align: center"><b>Según la forma y el tamaño</b></h5>

  <table class="paperlist">
    <li>Poliédricas: como las motoneuronas del asta anterior de la médula.</li>
    <li>Fusiformes: las que se encuentran en el doble ramillete de la corteza cerebral.</li>
    <li>Estrelladas: como las neuronas aracniforme y estrelladas de la corteza cerebral y las estrelladas, en cesta y
      Golgi
      del cerebelo.
    </li>
    <li>Esféricas: en ganglios espinales, simpáticos y parasimpáticos</li>
    <li>Piramidales: presentes en la corteza cerebral.</li>

    <h5 style="text-align: center"><b>Según la polaridad</b></h5>

    <li>Unipolares: son aquéllas desde las que nace sólo una prolongación que se bifurca y se comporta funcionalmente
      como
      un axón salvo en sus extremos ramificados en que la rama periférica reciben señales y funcionan como dendritas y
      transmiten el impulso sin que éste pase por el soma neuronal. Son típicas de los ganglios de invertebrados y de
      la
      retina.
    </li>
    <li>Bipolares: poseen un cuerpo celular alargado y de un extremo parte una dendrita y del otro el axón (solo puede
      haber
      uno por neurona). El núcleo de este tipo de neurona se encuentra ubicado en el centro de ésta, por lo que puede
      enviar señales hacia ambos polos de la misma. Ejemplos de estas neuronas se hallan en las células bipolares de
      la
      retina (conos y bastones), del ganglio coclear y vestibular, estos ganglios son especializados de la recepción
      de
      las ondas auditivas y del equilibrio.
    </li>
    <li>Multipolares: tienen una gran cantidad de dendritas que nacen del cuerpo celular. Ese tipo de células son la
      clásica
      neurona con prolongaciones pequeñas (dendritas) y una prolongación larga o axón. Representan la mayoría de las
      neuronas. Dentro de las multipolares, distinguimos entre las que son de tipo Golgi I, de axón largo, y las de
      tipo
      Golgi II, de axón corto. Las neuronas de proyección son del primer tipo, y las neuronas locales o interneuronas
      del
      segundo.
    </li>
    <li>Pseudounipolares (monopolar): son aquéllas en las cuales el cuerpo celular tiene una sola dendrita o neurita,
      que se
      divide a corta distancia del cuerpo celular en dos ramas, motivo por cual también se les denomina
      pseudounipolares
      (pseudos en griego significa "falso"), una que se dirige hacia una estructura periférica y otra que ingresa en
      el
      sistema nervioso central. Se hallan ejemplos de esta forma de neurona en el ganglio de la raíz posterior.
    </li>
    <li>Anaxónicas: son pequeñas. No se distinguen las dendritas de los axones. Se encuentran en el cerebro y órganos
      especiales de los sentidos.
    </li>

    <h5 style="text-align: center"><b>Según las características de las neuritas</b></h5>

    <li>Axón muy largo o Golgi de tipo I. El axón se ramifica lejos del pericarion. Con axones de hasta 1 m.</li>
    <li>Axón corto o Golgi de tipo II. El axón se ramifica junto al soma celular.</li>
    <li>Sin axón definido.</li>
    <li>Isodendríticas. Con dendritas rectilíneas que se ramifican de modo que las ramas hijas son más largas que las
      madres.
    </li>
    <li>Idiodendríticas. Con las dendritas organizadas dependiendo del tipo neuronal; por ejemplo, como las células de
      Purkinje del cerebelo.
    </li>
    <li>Alodendríticas. Intermedias entre los dos tipos anteriores.</li>

    <h5 style="text-align: center"><b>Según el mediador químico</b></h5>

    <li>Colinérgicas. Liberan acetilcolina.</li>
    <li>Noradrenérgicas. Liberan norepinefrina.</li>
    <li>Dopaminérgicas. Liberan dopamina.</li>
    <li>Serotoninérgicas. Liberan serotonina.</li>
    <li>GABAérgicas. Liberan GABA, es decir, ácido γ-aminobutírico.</li>

    <h5 style="text-align: center"><b>Según la función</b></h5>

    <li>Motoras: Son las encargadas de producir la contracción de la musculatura.</li>
    <li>Sensoriales: Reciben información del exterior, ej. Tacto, gusto, visión y la trasladan al sistema nervioso
      central.
    </li>
    <li>Interneuronas: Se encargan de conectar entre las dos diferentes neuronas. Son las responsables de funciones de
      percepción, aprendizaje, recuerdo, decisión y control de conductas complejas.
    </li>

    <h3><b> Celulas gliáles </b></h3>

    <p style="text-align: justify">
      La palabra glía deriva del griego bizantino γλία, cuyo significado era "liga", "unión" o, también, «pegamento».
      Las células gliales (conocidas también genéricamente como glía o neuroglía) son células del sistema nervioso que
      desempeñan, de forma principal, la función de soporte de las neuronas; además intervienen activamente en el
      procesamiento cerebral de la información en el organismo.
    </p>

    <p style="text-align: justify">
      Las células gliales controlan, fundamentalmente, el microambiente celular en lo que respecta a la composición
      iónica, los niveles de neurotransmisores y el suministro de citoquinas y otros factores de crecimiento.
    </p>

    <p style="text-align: justify">
      La proporción de neuronas y de células gliales en el cerebro varía entre las diferentes especies (aprox. 10:1 en
      la mosca doméstica, 1:1 en el cocodrilo y 1:10-50 en el hombre).
    </p>


    <h2 style="text-align: right; font-size: 12px;">Fuente:<a
    href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
    class="fa fa-wikipedia-w"></i></a></h2>

    </table>
</div>
</html>