<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3><b>Análisis de secuencias</b></h3>

  <p style="text-align: justify">
    Desde que el fago Φ-X174 fue secuenciado en 1977 (secuencia provisional: un año más tarde se publicaría la secuencia
    completa definitiva), las secuencias de ADN de cientos de organismos han sido decodificadas y guardadas en bases
    de datos. Esos datos son analizados para determinar los genes que codifican para ciertas proteínas, así como también
    secuencias reguladoras. Una comparación de genes en una especie o entre especies puede mostrar similitudes entre
    funciones de proteínas, o relaciones entre especies (uso de filogenética molecular para construir árboles
    filogenéticos).

  </p>

  <p style="text-align: justify">
    Con la creciente cantidad de datos, desde hace mucho se ha vuelto poco práctico analizar secuencias de ADN
    manualmente. Hoy se usan programas de computadora para estudiar el genoma de miles de organismos, conteniendo miles
    de millones de nucleótidos. Estos programas pueden compensar mutaciones (con bases intercambiadas, borradas o
    insertadas) en la secuencia de ADN, para identificar secuencias que están relacionadas, pero que no son idénticas.
    Una variante de este alineamiento de secuencias se usa en el proceso de secuenciación.
  </p>

  <p style="text-align: justify">
    La secuenciación conocida como "shotgun" (o por perdigonada: fue usada, por ejemplo, por el Instituto de
    Investigación Genómica -The Institute for Genomic Research, TIGR, hoy J. Craig Venter Institute- para secuenciar el
    primer genoma de bacteria, el Haemophilus influenzae) no da una lista secuencial de nucleótidos, pero en cambio
    nos ofrece las secuencias de miles de pequeños fragmentos de ADN (cada uno de aproximadamente 600 a 800 nucleótidos
    de largo). Las terminaciones de estos fragmentos se superponen y, cuando son alineados de la manera correcta,
    constituyen el genoma completo del organismo en cuestión.

  </p>

  <p style="text-align: justify">
    El secuenciamiento shotgun proporciona datos de secuencia rápidamente, pero la tarea de ensamblar los fragmentos
    puede ser bastante complicada para genomas muy grandes. En el caso del Proyecto Genoma Humano, llevó varios meses de
    tiempo de procesador (en una estación DEC Alpha de alrededor del 2000) para ensamblar los fragmentos. El shotgun
    sequencing es el método de elección para todos los genomas secuenciados hoy en día y los algoritmos de ensamblado
    genómico son un área crítica de la investigación en bioinformática.
  </p>

  <p style="text-align: justify">
    Otro aspecto de la bioinformática en análisis de secuencias es la búsqueda automática de genes y secuencias
    reguladoras dentro de un genoma. No todos los nucleótidos dentro de un genoma son genes. Dentro del genoma de
    organismos más avanzados, grandes partes del ADN no sirven a ningún propósito obvio. Este ADN, conocido como "ADN
    basura", puede, sin embargo, contener elementos funcionales todavía no reconocidos. La bioinformática sirve para
    estrechar la brecha entre los proyectos de genoma y proteoma (por ejemplo, en el uso de secuencias de ADN para
    identificación de proteínas).
  </p>

  <p style="text-align: justify">

  </p>

  <p style="text-align: justify">

  </p>

  <h2 style="text-align: right; font-size: 12px;">Fuente:<a
  href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
  class="fa fa-wikipedia-w"></i></a></h2>
</div>