<nav class="navbar navbar-default navbar-fixed-top z-depth-1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "La web de Neurociencia", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/site/about">Acerca de</a></li>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="papers">Base de datos de Documentos</a></li>
              <li><a href="site/noticias">Noticias</a></li>
              <li><a href="http://foro.lawebdeneurociencia.com">Foros</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Secciones</li>
              <li><a href="site/celular">Neurociencia Molecular y Celular</a></li>
              <li><a href="site/cognitiva">Neurociencia Cognitiva</a></li>
              <li><a href="site/anatomia">Neuroanatomía</a></li>
              <li><a href="site/compt">Neurociencia Computacional y Bioinformática</a></li>
              <li><a href="site/neurologia">Neurología</a></li>
              <li><a href="site/neuropsico">Neuropsicología y Neuropsiquiatría</a></li>
              <li><a href="site/aplicada">Neurociencia Aplicada</a></li>
              <li><a href="site/psicofarma">Psicofarmacología</a></li>
              <li><a href="site/ia">Inteligencia Artificial</a></li>
              <li class="divider"></li>
              <li><a href="site/biblio">Bibliografía</a></li>
              <li><a href="dic/diccionario">Diccionario</a></li>
            </ul>
          </li>
        </ul>

    </div>

      </ul>
    </div>
  </div>
</nav>