<html lang="es">
<nav>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div id="bannerimage" style="text-align: center;"><a href="welcome/index"><img class="image-responsive" src="img/logo_1.png" alt="" width="100%" height="" title="La Web de Neurociencia"/></a></div>



<hr>
<h2 class="text-center">SECCIONES</h2>
<hr>

<div class="container" >

  <div class="row no-gutter">
    <div class="col-md-4 portfolio-item">
      <a href="site/celular"><img class="materialboxed center-block responsive-img wow fadeIn" src="img/Cel y Moc.jpg"></a>
      <div class="caption">
        <a href="site/celular">
          <h3>Neurociencia Molecular y Celular</h3>
        </a>
        <p>El estudio de las neuronas a nivel molecular y celular.</p>
      </div>
    </div>

    <div class="col-md-4 portfolio-item">
      <a href="site/cognitiva"><img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.2s" src="img/Neuro Cog.jpg"></a>
      <div class="caption">
        <a href="site/cognitiva">
          <h3>Neurociencia Cognitiva</h3>
        </a>
        <p>El estudio científico de los mecanismos biológicos subyacentes a la cognición.</p>
      </div>
    </div>

    <div class="col-md-4 portfolio-item">
      <a href="site/anatomia"> <img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.4s" src="img/anatomia.jpg"></a>
      <div class="caption">
        <a href="site/anatomia">
          <h3>Neuroanatomía</h3>
        </a>
        <p>El estudio de la estructura y la organización del sistema nervioso.</p>
      </div>
    </div>
  </div>

  <br>

    <div class="row no-gutter">

      <div class="col-md-4 portfolio-item">
        <a href="site/comp"><img class="materialboxed center-block responsive-img wow fadeIn" src="img/compu.jpg"></a>
        <div class="caption">
          <a href="site/comp">
            <h3>Neurociencia Computacional <br> y Bioinformática</h3>
          </a>
          <p>Ciencia interdisciplinar que enlaza los diversos campos de la neurociencia, la ciencia cognitiva
            y las ciencias de la computación.</p>
        </div>
      </div>

      <div class="col-md-4 portfolio-item">
        <a href="site/neurologia"><img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.2s" src="img/neurologia.jpg"></a>
        <div class="caption">
          <a href="site/neurologia">
            <h3>Neurología</h3>
          </a>
          <p>El estudio de la estructura y la organización del sistema nervioso.</p>
        </div>
      </div>

      <div class="col-md-4 portfolio-item">
        <a href="site/neuropsico"> <img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.4s" src="img/neuropsicologia.jpg"></a>
        <div class="caption">
          <a href="site/neuropsico">
            <h3>Neuropsicología y Neuropsiquiatría</h3>
          </a>
          <p>Disciplina fundamentalmente clínica, que converge entre la neurología, la psicología y la
            psquiatría.</p>
        </div>
      </div>
    </div>

    <br>

    <div class="row no-gutter">

      <div class="col-md-4 portfolio-item">
        <a href="site/aplicada"><img class="materialboxed center-block responsive-img wow fadeIn" src="img/neuropsico.jpg"></a>
        <div class="caption">
          <a href="site/aplicada">
            <h3>Neurociencia Aplicada</h3>
          </a>
          <p> El conocimiento científico sobre el cerebro para potenciar la salud y el bienestar de las
            personas.</p>
        </div>

      </div>

      <div class="col-md-4 portfolio-item">
        <a href="site/psicofarma"><img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.2s" src="img/psicofarma.jpg"></a>
        <div class="caption">
          <a href="site/psicofarma">
            <h3>Psicofarmacología</h3>
          </a>
          <p>Estudia el efecto de fármacos con especial atención a las manifestaciones cognitivas,
            emocionales/motivacionales y conductuales.</p>
        </div>
      </div>

      <div class="col-md-4 portfolio-item">
        <a href="site/ia"><img class="materialboxed center-block responsive-img wow fadeIn" data-wow-delay="0.4s" src="img/IA.jpg"></a>
        <div class="caption">
          <a href="site/ia">
            <h3>Inteligencia Artificial</h3>
          </a>
          <p> Área multidisciplinaria, que a través de ciencias como las&nbsp;ciencias de la computación, la&nbsp;matemática,
            la&nbsp;lógica&nbsp;y la&nbsp;filosofía, estudia la creación y diseño de sistemas capaces de
            resolver problemas cotidianos por sí mismas utilizando como paradigma la&nbsp;inteligencia&nbsp;humana.</p>
        </div>
      </div>
    </div>

</div>
</center>
<hr>

<div class="container">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="carousel1" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1" class=""></li>
        <li data-target="#carousel1" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active"><a href="site/noticias"><img class="img-responsive" src="img/Banner2.jpg"
                                                              alt="thumb" width="1238"></a>

          <div class="carousel-caption"> Noticias destacadas que pueden cubrir la neurociencia, la
            investigación del cerebro, la medicina regenerativa, la psicología, la genética, la robótica, la
            neurología y muchos otros temas de ciencia cognitiva.
          </div>
        </div>
        <div class="item"><a href="http://foro.lawebdeneurociencia.com"><img src="img/Banner1.jpg"
                                                                                       alt="thumb" width="1238"
                                                                                       class="img-responsive"></a>

          <div class="carousel-caption"> Foros de la Web de Neurociencia, dedicados a resolución de dudas, la
            divulgación y a la discusión general de la neurociencia.
          </div>
        </div>
        <div class="item"><a href="site/about"><img class="img-responsive" src="img/Banner3.jpg" width="1238"
                                                    alt="thumb"></a>

          <div class="carousel-caption"> Presentación de la comunidad de la web de neurociencia.</div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a>
      <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="media-object-default">
        <div class="media">
          <div class="media-left"><a href="site/noticias"> <img src="img/News.jpg" alt="placeholder image"
                                                                width="100" height="125" class="media-object">
          </a></div>
          <div class="media-body">
            <h4 class="media-heading"><a href="site/noticias">Noticias de Neurociencia</a></h4>

            <p>Noticias destacadas que pueden cubrir la neurociencia, la investigación del cerebro, la
              medicina regenerativa, la psicología, la genética, la robótica, la neurología y muchos otros
              temas de ciencia cognitiva.</p>
          </div>
        </div>


      </div>
    </div>
    <hr class="hidden-md hidden-lg">
    <div class="col-lg-4 col-md-6">
      <div class="media-object-default">
        <div class="media">
          <div class="media-left"><a href="site/biblio"> <img src="img/libros.gif" alt="placeholder image"
                                                              width="100" height="125"
                                                              class="media-object"></a></div>
          <div class="media-body">
            <h4 class="media-heading"><a href="site/biblio">Bibliografía</a></h4>

            <p>En esta sección se puede consultar bibliografía especiadizada de la web de Neurociencia.</p>
          </div>
        </div>


      </div>
    </div>
    <hr class="hidden-lg">
    <div class="col-lg-4 col-md-12 hidden-md">
      <div class="media-object-default">
        <div class="media">
          <div class="media-left"><a href="dic/diccionario"> <img src="img/diccionario.png"
                                                                   alt="placeholder image" width="100"
                                                                   height="125" class="media-object"></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="dic/diccionario">Diccionario</a></h4>

            <p>Diccionario del ámbito de la neurociencia.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<hr>
<div class="container well">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
          <div>
            <ul class="list-unstyled">
              <li><a href="site/links">Links</a></li>
              <li><a href="site/creditos">Créditos</a></li>
              <li><a href="mailto:contact@lawebdeneurociencia.com">Contacto</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">

          <div>
            <ul class="list-unstyled">
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-lg-offset-2">


      <a href="https://plus.google.com/u/0/117884160494841220053/about"><img src="img/logotipo-oficial-google-plus-2014.png" alt="" width="50" height="50" title="Google +"/></a>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.facebook.com/lawebdeneurociencia"><img src="img/logotipo-oficial-facebook-2014.png"
                                                                  alt="" width="50" height="50" title="Facebook"/><span
      class="sr-only">(current)</span></a>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://twitter.com/LaNeuroWeb"><img src="img/logotipo-oficial-twitter-2014.png" width="50"
                                                    height="50" alt="" title="Twitter"></a>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
  </div>
</div>

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</div>
</body>
<footer>

</footer>
</html>