<br>
<br>
<div class="col-lg-6 col-lg-offset-2" well>
<h2>Editar el documento</h2>
</div>
<br>
<br>
<br>
<%= render 'form' %>

<div class="col-lg-6 col-lg-offset-3">
<%= link_to 'Mostrar', @paper %>  |
<%= link_to 'Atras', papers_path %>
</div>