<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<body>
<div style="margin: 0px auto; text-align: center; width: 1150px;" >

  <a href="dic/diccionario"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/a.png" height="20" width="20" alt=""/></a>
  <a href="dic/b"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/b.png" height="20" width="20" alt=""/></a>
  <a href="dic/c"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/c.png" height="20" width="20" alt=""/></a>
  <a href="dic/d"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/d.png" height="20" width="20" alt=""/></a>
  <a href="dic/e"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/e.png" height="20" width="20" alt=""/></a>
  <a href="dic/f"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/f.png" height="20" width="20" alt=""/></a>
  <a href="dic/g"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/g.png" height="20" width="20" alt=""/></a>
  <a href="dic/h"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/h.png" height="20" width="20" alt=""/></a>
  <a href="dic/i"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/i.png" height="20" width="20" alt=""/></a>
  <a href="dic/j"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/j.png" height="20" width="20" alt=""/></a>
  <a href="dic/k"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/k.png" height="20" width="20" alt=""/></a>
  <a href="dic/l"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/l.png" height="20" width="20" alt=""/></a>
  <a href="dic/m"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/m.png" height="20" width="20" alt=""/></a>
  <a href="dic/n"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/n.png" height="20" width="20" alt=""/></a>
  <a href="dic/o"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/o.png" height="20" width="20" alt=""/></a>
  <a href="dic/p"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/p.png" height="20" width="20" alt=""/></a>
  <a href="dic/q"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/q.png" height="20" width="20" alt=""/></a>
  <a href="dic/r"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/r.png" height="20" width="20" alt=""/></a>
  <a href="dic/s"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/s.png" height="20" width="20" alt=""/></a>
  <a href="dic/t"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/t.png" height="20" width="20" alt=""/></a>
  <a href="dic/u"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/u.png" height="20" width="20" alt=""/></a>
  <a href="dic/v"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/v.png" height="20" width="20" alt=""/></a>
  <a href="dic/w"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/w.png" height="20" width="20" alt=""/></a>
  <a href="dic/x"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/x.png" height="20" width="20" alt=""/></a>
  <a href="dic/y"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/y.png" height="20" width="20" alt=""/></a>
  <a href="dic/z"><img style='float:left;clear:none;margin:10px;' class="img-responsive" src="img/letras/z.png" height="20" width="20" alt=""/></a>


</div>
<br>
<br>
<div style="margin: 0px auto; text-align: center; width: 1900px;">

  <img class="img-responsive" src="img/letras/a.png" height="72" width="72" alt="" style="center"/>
  <hr>
  <div class="col-lg-6 col-lg-offset-3 well">
  <table class="paperlist" style="text-align: justify">
    <tbody>
    <tr>
      <td >
        <strong>Abasia:</strong>  término médico que se refiere a la incapacidad de caminar, debido fundamentalmente a defectos en la coordinación muscular
      </td>
    </tr>

    <tr>
      <td>
        <strong>Ablación Cerebral</strong>: extirpación de tejido cerebral mediante cirujía.
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acalasia:</strong>  incapacidad para relajar las fibras de músculo liso del aparato gastrointestinal en cualquier sitio de unión de una parte con otra.
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acalculia:</strong>  término introducido por el neurólogo Salomon Heschen y se refiere a la alteración en las habilidades y el procesamiento matemático debido a una enfermedad cerebral.
      </td>
    </tr>

    <tr>
      <td >
        <strong> Acatisia:</strong> incapacidad para mantenerse quieto que se acompaña de una sensación de intranquilidad a nivel corporal, sin llegar a la angustia.
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acetilcolina:</strong>  neurotransmisor que fue aislado y caracterizado farmacológicamente por Henry Hallett Dale en 1914, y después confirmado como un neurotransmisor
        (el primero en ser identificado) por Otto Loewi; por su trabajo recibieron en 1936 el premio Nobel en fisiología y medicina. Particularmente implicada en
        los circuitos de la memoria, la recompensa ("reward"), los circuitos extrapiramidales y en el sistema nervioso periférico, en el sistema nervioso autónomo
        (en la sinapsis en los ganglios autónomos, las células cromafines de la médula suprarrenal, todas las terminaciones parasimpáticas y también en la inervación
        simpática de las glándulas sudoríparas).
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acetilcolinesterasa:</strong> enzima humana de la familia de colinesterasas que se encuentra en los tejidos nerviosos y los glóbulos rojos, cuya función principal
        es hidrolizar al neurotransmisor acetilcolina. En los glóbulos rojos constituye un antígeno celular llamado Yt.
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acidosis</strong> término clínico que indica un trastorno hidroelectrolítico que puede conducir a acidemia, y que viene definido por un pH sanguíneo
        inferior a 7.35. La acidosis puede ser metabólica o respiratoria. Con el nombre de acidosis se conoce aquellas situaciones clínicas en las que existe una
        alteración en la que predomina un aumento en la concentración de hidrogeniones.
      </td>
    </tr>

    <tr>
      <td >
        <strong>Acinesia</strong> la incapacidad de hablar y moverse. Se produce como resultado de una lesión grave en el lóbulo frontal en el cual el
        patrón inhibidor incrementa la pasividad y reduce gradualmente el habla y el movimiento.
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>

    <tr>
      <td >
        <strong></strong>
      </td>
    </tr>
  </table>
  <hr>
  <div align="right">

    <a href="dic/b"><i class="fa fa-arrow-right fa-3x"></i></a>
  </div>
  </table>

  <br>

  <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contacto@lawebdeneurociencia.com">formulario</a>.</p>
</div>
  </html>