<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<body>
<div style="margin: 0px auto; text-align: center; width: 1150px;" >

  <a href="dic/diccionario"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/a.png" height="20" width="20" alt=""/></a>
  <a href="dic/b"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/b.png" height="20" width="20" alt=""/></a>
  <a href="dic/c"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/c.png" height="20" width="20" alt=""/></a>
  <a href="dic/d"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/d.png" height="20" width="20" alt=""/></a>
  <a href="dic/e"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/e.png" height="20" width="20" alt=""/></a>
  <a href="dic/f"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/f.png" height="20" width="20" alt=""/></a>
  <a href="dic/g"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/g.png" height="20" width="20" alt=""/></a>
  <a href="dic/h"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/h.png" height="20" width="20" alt=""/></a>
  <a href="dic/i"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/i.png" height="20" width="20" alt=""/></a>
  <a href="dic/j"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/j.png" height="20" width="20" alt=""/></a>
  <a href="dic/k"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/k.png" height="20" width="20" alt=""/></a>
  <a href="dic/l"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/l.png" height="20" width="20" alt=""/></a>
  <a href="dic/m"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/m.png" height="20" width="20" alt=""/></a>
  <a href="dic/n"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/n.png" height="20" width="20" alt=""/></a>
  <a href="dic/o"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/o.png" height="20" width="20" alt=""/></a>
  <a href="dic/p"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/p.png" height="20" width="20" alt=""/></a>
  <a href="dic/q"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/q.png" height="20" width="20" alt=""/></a>
  <a href="dic/r"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/r.png" height="20" width="20" alt=""/></a>
  <a href="dic/s"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/s.png" height="20" width="20" alt=""/></a>
  <a href="dic/t"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/t.png" height="20" width="20" alt=""/></a>
  <a href="dic/u"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/u.png" height="20" width="20" alt=""/></a>
  <a href="dic/v"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/v.png" height="20" width="20" alt=""/></a>
  <a href="dic/w"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/w.png" height="20" width="20" alt=""/></a>
  <a href="dic/x"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/x.png" height="20" width="20" alt=""/></a>
  <a href="dic/y"><img style='float:left;clear:none;margin:12px;' class="img-responsive" src="img/letras/y.png" height="20" width="20" alt=""/></a>
  <a href="dic/z"><img style='float:left;clear:none;margin:10px;' class="img-responsive" src="img/letras/z.png" height="20" width="20" alt=""/></a>


</div>
<br>
<br>
<div style="margin: 0px auto; text-align: center; width: 1900px;">

  <img class="img-responsive" src="img/letras/y.png" height="72" width="72" alt="" style="center">
  <hr>
  <div class="col-lg-6 col-lg-offset-3 well">
    <hr>

    <div>
      <a class="izquierda" href="dic/x"><i class="fa fa-arrow-left fa-3x"></i></a>
      <a class="derecha" href="dic/z"><i class="fa fa-arrow-right fa-3x"></i></a>
    </div>
    <br>
    <br>
    <br>
    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contacto@lawebdeneurociencia.com">formulario</a>.</p>
  </div>
</div>

</html>
