<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <h3>Qué es la Neurociencia?</h3>
  <div style="position: relative; z-index: 10;">
    <div style="	background-color: #A5CFF6; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; opacity:0.2;"></div>

    <p style="text-align: justify">
      Los hombres deben saber que el cerebro es el responsable exclusivo de las alegrías, los placeres, la risa y la diversión, y de la pena,
      la aflicción, el desaliento y las lamentaciones. Y gracias al cerebro, de manera especial, adquirimos sabiduría y conocimientos, y vemos,
      oímos y sabemos lo que es repugnante y lo que es bello, lo que es malo y lo que es bueno, lo que es dulce y lo que es insípido.
    </p>
  </div>
  <h2 style="text-align: right; font-size: 12px;">Fuente:<a href="https://es.wikipedia.org/wiki/Hip%C3%B3crates" title="Hipócrates" target="new"> Hipócrates</a></h2>


  <br>
  <p style="text-align: justify">
    Las neurociencias son un conjunto de disciplinas científicas que estudian la estructura, la función, el desarrollo de la bioquímica, la farmacología,
    y la patología del sistema nervioso y de cómo sus diferentes elementos interactúan, dando lugar a las bases biológicas de la conducta.
    El estudio biológico del cerebro es un área multidisciplinar que abarca muchos niveles de estudio, desde el puramente molecular hasta el específicamente conductual y
    cognitivo, pasando por el nivel celular (neuronas individuales), los ensambles y redes pequeñas de neuronas (como las columnas corticales) y los ensambles grandes
    (como los propios de la percepción visual) incluyendo sistemas como la corteza cerebral o el cerebelo, e incluso, el nivel más alto del Sistema Nervioso.
    En el nivel más alto, las neurociencias se combinan con la psicología para crear la neurociencia cognitiva, una disciplina que al principio fue dominada totalmente
    por psicólogos cognitivos. Hoy en día, la neurociencia cognitiva proporciona una nueva manera de entender el cerebro y la conciencia, pues se basa en un estudio
    científico que une disciplinas tales como la neurobiología, la psicobiología o la propia psicología cognitiva, un hecho que con seguridad cambiará la concepción
    actual que existe acerca de los procesos mentales implicados en el comportamiento y sus bases biológicas.
  </p>
  <br>
  <p style="text-align: justify">
    Las neurociencias ofrecen un apoyo a la psicología con la finalidad de entender mejor la complejidad del funcionamiento mental. La tarea central de las neurociencias
    es la de intentar explicar cómo funcionan millones de células nerviosas en el encéfalo para producir la conducta y cómo a su vez estas células están influidas por el
    medio ambiente. Tratando de desentrañar la manera de cómo la actividad del cerebro se relaciona con la psiquis y el comportamiento, revolucionando la manera de entender
    nuestras conductas y lo que es más importante aún: cómo aprende, cómo guarda información nuestro cerebro, y cuáles son los procesos biológicos que facilitan el aprendizaje.
  </p>
  <br>
  <p style="text-align: justify">
    Algunos de los problemas aún no resueltos de la neurociencia a los que los científicos se enfrenta,son:
  <ol>
    <li>Conciencia: ¿Cuál es la base neuronal de la experiencia subjetiva, la cognición, la vigilia, el estado de alerta, la excitación y la atención?
      ¿Cómo se resuelve el problema difícil de la conciencia? ¿Cuál es su función?</li>

    <li>Percepción: ¿Cómo transfiere el cerebro información sensorial en percepción interna coherente? ¿Cuáles son las normas por las cuales se organiza la percepción?
      ¿Cuáles son las características que constituyen nuestra experiencia perceptual de acontecimientos internos y externos? ¿Cómo están integrados los sentidos?
      ¿Cuál es la relación entre la experiencia subjetiva y el mundo físico?</li>

    <li>Aprendizaje y memoria: ¿Dónde se almacenan los recuerdos y cómo se recuperan de nuevo? ¿Cómo puede ser mejorado el aprendizaje?
      ¿Cuál es la diferencia entre recuerdos explícitos e implícitos?</li>

    <li>Neuroplasticidad: ¿Qué tan plástico es el cerebro maduro?</li>

    <li>Desarrollo y evolución: ¿Cómo y por qué evolucionó el cerebro? ¿Cuáles son las determinantes moleculares del desarrollo cerebral individual?</li>

    <li>Sueño: ¿Por qué soñamos? ¿Cuáles son los mecanismos cerebrales subyacentes? ¿Cuál es su relación con la anestesia?</li>

    <li>Cognición y decisiones: ¿Cómo y dónde evalúa el cerebro la recompensa y el esfuerzo (costo) para modular el comportamiento?
      ¿Cómo la experiencia previa modifica la percepción y el comportamiento? ¿Cuáles son las contribuciones genéticas y ambientales para el funcionamiento del cerebro?</li>

    <li>Idioma: ¿Cómo se implementa neuralmente? ¿Cuál es la base del significado semántico?</li>

    <li>Enfermedades: ¿Cuáles son las bases neurales (causas) de enfermedades mentales como los trastornos psicóticos (por ejemplo, la manía, la esquizofrenia),
      la enfermedad de Parkinson, la enfermedad de Alzheimer o la adicción? ¿Es posible recuperarse de la pérdida de la función motora o sensorial?</li>
  </ol>
  </p>
  <!-- fuente y colaborar -->
  <h2 style="text-align: right; font-size: 12px;">Fuente:<a href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i class="fa fa-wikipedia-w"></i></a></h2>
  <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta web, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
  <br>
  <h3>La web de Neurociencia</h3>

  <p style="text-align: justify">
    La web de Neurociencia, nace con la idea de crear un punto de encuentro, una comunidad, tanto para aficionados y profesionales, del mundo de las neurociencias, donde
    poder debatir y compartir conocimientos.
  </p>
  <p style="text-align: justify">
    Así mismo, es un lugar donde intentamos recopliar todo tipo de material relacionado con esta ciencia.
  </p>
  <p style="text-align: justify">
    Todo el material que contiene esta web (excepto aquellos documentos donde se especifique explícitamente lo contrario) se distribuye como material de
    dominio público y libre. Por lo tanto, se permite su copia y redistribución siempre y cuando la redistribución se haga bajo ésta misma licencia. Así mismo, se permie
    distribución de copias modificadas siempre o completadas, siempre y cuando se cambie el título, que la totalidad de la obra en la cual se han incluido respete las mismas
    libertades que se garantizan de orígen, e incluya una nota explicativa donde se reconozca el origen y la autoria del material. La solo acceso al material contenido en este
    website comporta la aceptación de las condiciones especificadas en éste parrafo.
  </p>





</div>
<br>
