<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<body>
<div>

  <div id="bannerImage">
    <center><img class="img-responsive" src="img/cs-neuroscience-banner.jpg" alt=""/></center>
  </div>
  <br>
  <div class="col-lg-6 col-lg-offset-3 well">
  <p style="text-align: justify">La <strong>Neurociencia aplicada</strong> La neurociencia aplicada es una disciplina
    que utiliza el conocimiento científico sobre el cerebro para potenciar la
    salud y el bienestar de las personas. La creación de sociedades de neurociencia aplicada es reciente (Society of
    Applied Neuroscience – 2006; Applied Neuroscience Foundation – 2007),
    aunque sus orígenes se remontan al siglo XIX, cuando neurólogos como el francés Paul Broca (1824-1880) y el
    inglés John Hughlings Jackson (1835-1911) trataban a pacientes con lesión
    cerebral o que sufrían ataques epilépticos.
    La neurociencia aplicada tiene un carácter multidisciplinar, pues se basa en disciplinas como la psicología
    clínica, ciencia cognitiva, neurofisiología, ergonomía, física,
    ingeniería, robótica, inteligencia artificial o la bioinformática. La expansión de la neurociencia aplicada da
    lugar a nuevos campos, como la neuroeconomía, el neuromarketing y
    la neuroeducación, aunque los principales ámbitos de aplicación comprenden la clínica y el trabajo.</p>


  <aside id="authorInfo">
    <!-- fuente y colaborar -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a
    href="https://es.wikipedia.org/wiki/Neurociencia_aplicada" title="Wikipedia" target="new"> <i
    class="fa fa-wikipedia-w"></i></a></h2>

    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección,
      puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=14"> Enlace con el foro de debate.</a></p>

</div>
    <div class="col-lg-6 col-lg-offset-3 well">
    <h2>Artículos</h2>

    <table class="paperlist" style="text-align: justify">
      <tbody>
      <tr>
        <td >
          <a href="docs/esclerosis">Tratamiento de la esclerosis múltiple con interferón alfa-2b recombinante</a>
        </td>
      </tr>

      <tr>
        <td >
          <strong></strong>
        </td>
    </table>
</div>

</div>
</html>