<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<body>


<div id="contenido">
  <div class="col-lg-6 col-lg-offset-3 well">
  <!-- INICIO: CONTENIDO *** -->
  <h1>Bibliograf&iacute;a comentada</h1>
  <p>
    En esta secci&oacute;n puedes consultar la bibliograf&iacute;a especializada de La web de Neurciencia.
  </p>


</div>
<br>
<!-- Inicio Bibliografia -->
<!-- INICIO COPIA PLANTILLA BIBLIO -->
<table class="paperlist" style="margin: 0px auto; text-align: left; width: 1000px;">

  <tbody>
  <tr>
    <td rowspan="8">
      <a href="site/redolar"><img src="img/portada/redolar_thumbnail.jpg" WIDTH=160 HEIGHT=200 class="image-responsive" alt="" title="Haz click para ver la portada a tama&ntilde;o real"/></a>
      <br />
  </tr>

  <tr>
    <td >
      Autor(es):
    </td>
    <td colspan="3">

      Diego Redolar Ripoll

    </td>
  </tr>

  <tr>
    <td>
      T&iacute;tulo:
    </td>
    <td colspan="3">
      Neurociencia Cognitiva
    </td>
  </tr>
  <tr>
    <td>
      Categor&iacute;a:
    </td>
    <td>
      Neurociencia Cognitiva
    </td>
    <td>
      Contenido:
    </td>
    <td>
      Teoría
    </td>
  </tr>
  <tr>
    <td>
      Edici&oacute;n:
    </td>
    <td>
      Primera
    </td>
    <td>
      Editorial:
    </td>
    <td>
      Editorial medica panamericana
    </td>
  </tr>
  <tr>
    <td>
      A&ntilde;o edici&oacute;n:
    </td>
    <td>
      2014
    </td>
    <td>
      Primera edici&oacute;n:
    </td>
    <td>
      2014
    </td>
  </tr>
  <tr>
    <td>
      P&aacute;ginas:
    </td>
    <td>
      855
    </td>
    <td>
      Formato:
    </td>
    <td>
      Rústica
    </td>
  </tr>
  <tr>
    <td>
      Precio:
    </td>
    <td >
      76 &euro;
    </td>
    <td>
      EAN:
    </td>
    <td>
      9788498354089
    </td>
  </tr>

  <tr id="coment40row0b">
    <td class="libros_comentetiqueta">
      <i class="fa fa-pencil-square"></i>Comentario:
    </td>
    <td colspan="4" class="libros_comentario">
      Una novedad en la literatura básica de referencia en español. Este excelente manual recoge los contenidos vertebrales de la neurociencia cognitiva a partir
      de las aportaciones actualizadas de profesionales de diferentes países y de distintos ámbitos de la investigación en esta disciplina. Es un texto moderno y
      centrado fundamentalmente en el estudiante.
    </td>
    <hr>
  </tr>
  </tbody>
</table>
<!-- FIN COPIA PLANTILLA BILBIO -->

<br />
<!-- Inicio Bibliografia -->
<!--- INICIO COPIA PLANTILLA BIBLIO -->
<table class="paperlist" style="margin: 0px auto; text-align: left; width: 1000px;">
  <tbody>
  <tr>
    <td rowspan="8">
      <a href="site/kandel"><img src="img/portada/Kandel.jpg" WIDTH=160 HEIGHT=200 class="image-responsive" alt="" title="Haz click para ver la portada a tama&ntilde;o real"/></a>
      <br />
  </tr>

  <tr>
    <td >
      Autor(es):
    </td>
    <td colspan="3">

      Erik R. Kandel, James H. Schwartz, Thomas M. Jessell, Steven A. Siegelbaum, A. J. Hudspeth

    </td>
  </tr>

  <tr>
    <td>
      T&iacute;tulo:
    </td>
    <td colspan="3">
      Principios de Neurociencia
    </td>
  </tr>
  <tr>
    <td>
      Categor&iacute;a:
    </td>
    <td>
      Neurociencia
    </td>
    <td>
      Contenido:
    </td>
    <td>
      Teoría
    </td>
  </tr>
  <tr>
    <td>
      Edici&oacute;n:
    </td>
    <td>
      5
    </td>
    <td>
      Editorial:
    </td>
    <td>
      Mcgraw-Hill Interamericana
    </td>
  </tr>
  <tr>
    <td>
      A&ntilde;o edici&oacute;n:
    </td>
    <td>
      2001
    </td>
    <td>
      Primera edici&oacute;n:
    </td>
    <td>
      1991
    </td>
  </tr>
  <tr>
    <td>
      P&aacute;ginas:
    </td>
    <td>
      1444
    </td>
    <td>
      Formato:
    </td>
    <td>
      Tapa Dura
    </td>
  </tr>
  <tr>
    <td>
      Precio:
    </td>
    <td >
      165 &euro;
    </td>
    <td>
      ISBN:
    </td>
    <td>
      9788448603113
    </td>
  </tr>

  <tr id="coment40row0b">
    <td class="libros_comentetiqueta">
      <i class="fa fa-pencil-square"></i>Comentario:
    </td>
    <td colspan="4" class="libros_comentario">
      Kandel hace énfasis en los sistemas neurofisiológicos que generan las conductas del ser humano. Para ello se han propuesto en el libro dos puntos de vista
      opuestos respecto a la relación entre cerebro y conducta, es decir que tanto el cerebro como la conducta tienen dos regiones funcionales que los hace
      diferente uno del otro. También hace énfasis en los rasgos afectivos y los aspectos de la personalidad desde una localización anatómica. Para Kandel y
      compañía los procesos mentales están representados por operaciones de procesamiento elemental.
    </td>
    <hr>
  </tr>
  </tbody>
</table>


<table class="paperlist" style="margin: 0px auto; text-align: left; width: 1000px;">
  <tbody>
  <tr>
    <td rowspan="8">
      <a href="site/freeman"><img src="img/portada/freeman.jpg" WIDTH=160 HEIGHT=200 class="image-responsive" alt="" title="Haz click para ver la portada a tama&ntilde;o real"/></a>
      <br />
  </tr>

  <tr>
    <td >
      Autor(es):
    </td>
    <td colspan="3">

      Scott Freeman

    </td>
  </tr>

  <tr>
    <td>
      T&iacute;tulo:
    </td>
    <td colspan="3">
      Biología

    </td>
  </tr>
  <tr>
    <td>
      Categor&iacute;a:
    </td>
    <td>
      Biología General
    </td>
    <td>
      Contenido:
    </td>
    <td>
      Teoría y ejercicios
    </td>
  </tr>
  <tr>
    <td>
      Edici&oacute;n:
    </td>
    <td>
      Tercera
    </td>
    <td>
      Editorial:
    </td>
    <td>
      Sddison-Wesley
    </td>
  </tr>
  <tr>
    <td>
      A&ntilde;o edici&oacute;n:
    </td>
    <td>
      2009
    </td>
    <td>
      Primera edici&oacute;n:
    </td>
    <td>
      2000
    </td>
  </tr>
  <tr>
    <td>
      P&aacute;ginas:
    </td>
    <td>
      1392
    </td>
    <td>
      Formato:
    </td>
    <td>
      Rústica
    </td>
  </tr>
  <tr>
    <td>
      Precio:
    </td>
    <td >
      99 &euro;
    </td>
    <td>
      ISBN:
    </td>
    <td>
      9788478290987
    </td>
  </tr>

  <tr id="coment40row0b">
    <td class="libros_comentetiqueta">
      <i class="fa fa-pencil-square"></i>Comentario:
    </td>
    <td colspan="4" class="libros_comentario">
      Estamos en pleno siglo de las biología, no sólo por el increíble ritmo de la investigación, sino también porque muchos
      de los retos más importantes hoy en día, como la escasez de recursos, la sobrepoblación, la extinción de especies, la resistencia
      a fármacos y el calentamiento global, tienen una naturaleza biológica. Por este motivo, el objetivo de biología
      es aprender y pensar como un biólogo, en vez de simplemente memorizar, porque los estudiantes de biología de
      hoy serán los que resuelvan los problemas mañana.
    </td>
    <hr>
  </tr>
  </tbody>
</table>
</div>
<br>
<br>
<br>
</body>

</html>
