<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<div id="mainwrapper">
  <br>
  <br>

  <div id="bannerImage">
    <center><img class="img-responsive" src="img/neuroscience_banner.jpg" alt=""/></center>
  </div>
  <br>
  <div class="col-lg-6 col-lg-offset-3 well">
  <p style="text-align: justify">La <a href="site/mol"><strong>Neurociencia molecular</strong></a> es una rama de la
    neurociencia que hace uso de los conceptos de la biología molecular aplicados al sistema
    nervioso de los animales. El campo de aplicación de esta materia pertenece principalmente a un
    enfoque reduccionista de la neurociencia, considerando temas como neuroanatomía 
    molecular, mecanismos de señalización molecular en el sistema nervioso, los efectos de la genética en el
    desarrollo neuronal, y las bases moleculares de la neuroplasticidad y
    de las enfermedades neurodegenerativas. Como en la biología molecular, la neurociencia molecular es un campo
    relativamente nuevo y es considerado como dinámico.</p>

  <p style="text-align: justify">La <a href="site/cel"><strong>Neurociencia celular</strong></a> es el estudio de las
    neuronas a nivel celular. Esto incluye la morfología y las propiedades fisiológicas
    de las neuronas individuales. Diferentes técnicas tales como el registro intracelular, el "patch-clamp" y la
    técnica de fijación de voltaje, la farmacología, la imagen confocal,
    la biología molecular o el barrido láser de fotones y Ca2 + de formación de imágenes se han utilizado para
    estudiar la actividad a nivel celular. La Neurociencia celular examina
    los diferentes tipos de neuronas, las funciones de las diferentes neuronas, la influencia de unas neuronas una
    sobre otras, etc... En definitiva, cómo las neuronas trabajan juntas.</p>

  <aside id="authorInfo">
    <!-- fuente y colaborar -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a
    href="https://en.wikipedia.org/wiki/Portal:Neuroscience" title="Wikipedia" target="new"> <i
    class="fa fa-wikipedia-w"></i></a></h2>

    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección,
      puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=2"> Enlace con el foro de debate.</a></p>


  </div>

</html>
