<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<div id="bannerImage">
  <center><img class="img-responsive" src="img/cog.jpg" alt=""/></center>
</div>
<br>
<div class="col-lg-6 col-lg-offset-3 well">

  <p style="text-align: justify">La <strong>Neurociencia cognitiva</strong> es un área académica que se ocupa del estudio
    científico de los mecanismos biológicos subyacentes a la cognición, con un enfoque específico en los sustratos
    neurales de los procesos mentales y sus manifestaciones conductuales. Se pregunta acerca de cómo las funciones
    psicológicas y cognitivas son producidas por el circuito neural. La neurociencia cognitiva es una rama tanto de la
    psicología así como de la neurociencia, unificando e interconectando con varias subdisciplinas tales como psicología
    cognitiva, psicobiología y neurobiología. Antes del advenimiento de la tecnología de resonancia magnética funcional,
    esta rama de la ciencia era llamada psicobiología cognitiva. Los científicos que se dedican a esta área normalmente
    tienen estudios de base en psicología experimental o neurobiología, pero pueden provenir de varias disciplinas,
    tales como la psiquiatría, neurología, física, matemática, lingüística, y filosofía.</p>
  <br>
  <p style="text-align: justify">
    Los métodos empleados en la neurociencia cognitiva incluyen paradigmas experimentales de psicofísica y de la
    psicología cognitiva, neuroimaginamiento funcional, genómica congitiva, genética conductual, así como también
    estudios electrofisiológicos de sistemas neuronales. Estudios clínicos en psicopatología en pacientes con déficit
    cognitivos, constituye un aspecto importante de la neurociencia cognitiva. Las principales aproximaciones teóricas
    son la neurociencia computacional y las más tradicionales y descriptivas teorías psicocognitivas, como por ejemplo
    la psicometría.</p>
  <p style="text-align: justify"></p>
  <aside id="authorInfo">
    <!-- The author information is contained here -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a
    href="https://es.wikipedia.org/wiki/Neurociencia_cognitiva" title="Wikipedia" target="new"> <i
    class="fa fa-wikipedia-w"></i> </a></h2>

    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes
      ponerte en contacto con nosotros utilizando este <a href="mailto:contacto@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=9"> Enlace con el foro de debate.</a></p>
</div>
<div class="col-lg-6 col-lg-offset-3 well" >
    <h2>Artículos</h2>
    <table class="paperlist" style="text-align: justify">
      <tbody>
      <tr >
        <td >
          <a href="docs/atencion">Atención</a>
        </td>
      </tr>

      <tr>
        <td >
          <strong></strong>
        </td>
    </table>
  </div>

</div>



</div>

</html>
