<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<body>
<div id="mainwrapper">

  <div id="bannerImage"><center><img class="img-responsive" src="img/banner-ns.jpg" alt=""/></center></div>
  <br>
  <div class="col-lg-6 col-lg-offset-3 well">
  <p style="text-align: justify">La <a href="site/computacional"><strong>Neurociencia computacional</strong></a> es una ciencia interdisciplinar que enlaza los diversos campos de la neurociencia,
    la ciencia cognitiva, la ingeniería eléctrica, las ciencias de la computación, la física y las matemáticas. El término fue introducido por Eric L. Schwartz en una
    conferencia de 1985 en Carmel, California, a petición de la Systems Development Foundation, para ofrecer un resumen del estado actual de un campo que hasta entonces
    era nombrado de muy diversas formas: modelado neural, teoría cerebral y redes neurales. Las actas de esta reunión definitoria fueron publicadas más tarde en el libro
    "Neurociencia Computacional", MIT Press (1990). Las primeras raíces históricas del campo pueden ser rastreadas hasta el trabajo de personas como Hodgkin y Huxley,
    Hubel y Wiesel, y David Marr, por nombrar unos pocos. Hodgkin y Huxley desarrollaron la pinza de voltaje y crearon el primer modelo matemático del potencial de acción.
    Hubel y Wiesel descubrieron que las neuronas de la corteza visual primaria, la primera área cortical que procesa información desde la retina, poseían campos receptivos
    orientados y organizados en columnas (Hubel y Wiesel, 1959). El trabajo de David Marr se centró en las interacciones entre neuronas, sugeriendo un acercamiento computacional
    al estudio de cómo ciertos grupos funcionales de neuronas en el hipocampo y el neocórtex interactúan, almacenan, procesan y transmiten información. Los modelos computacionales
    biológicamente realistas de neuronas y dendritas comenzaron con las investigaciones de Wilfrid Rall, y el primer modelo multicompartimental se basó en la teoría de cables.
    La neurociencia computacional difiere del conexionismo psicológico y de las teorías del aprendizaje de disciplinas como el aprendizaje automático, las redes neurales y
    la teoría del aprendizaje estadístico en que enfatiza las descripciones funcional y biológicamente realistas de neuronas (y sistemas neurales), su fisiología y su dinámica.
    Estos modelos captan las características esenciales del sistema biológico en múltiples escalas espacio-temporales desde las corrientes de membranas, proteínas y acomplamiento
    químico hasta las oscilaciones de redes, la arquitectura topográfica y de columnas, y el aprendizaje y la memoria. Estos modelos computacionales se usan para probar hipótesis
    que puedan ser verificadas directamente mediante experimentos biológicos actuales o futuros.
    En la actualidad, este campo está experimentando una rápida expansión. Existe gran variedad de programas, como el GENESIS o el NEURON, que permiten un veloz y sistemático
    modelado in silico de neuronas realistas. El proyecto Blue Brain, una colaboración entre IBM y la Escuela Politécnica Federal de Lausanne, pretende construir una simulación
    biofísica detallada de una columna cortical en el superordenador Blue Gene. Este proyecto internacional tiene un subproyecto Cajal Blue Brain desarrollado en España,
    coordinado por la Universidad Politécnica de Madrid (Facultad de Informática y CeSViMa) en colaboración con el Instituto Cajal del CSIC.</p>

  <p style="text-align: justify">La <a href="site/bioinformatica"<b>Bioinformática</b></a>, según una de sus definiciones más sencillas, es la aplicación de tecnología de computadores
    a la gestión y análisis de datos biológicos. Los términos bioinformática, biología computacional y, en ocasiones, biocomputación, utilizados en muchas situaciones como sinónimos
    ,hacen referencia a campos de estudios interdisciplinares muy vinculados que requieren el uso o el desarrollo de diferentes técnicas estudiadas universitariamente en la
    Ingeniería Informática como ciencia aplicada de la disciplina informática. Entre estas pueden destacarse las siguientes: matemática aplicada, estadística, ciencias de la
    computación, inteligencia artificial, química y bioquímica con las que el Ingeniero Informático soluciona problemas al analizar datos, o simular sistemas o mecanismos,
    todos ellos de índole biológica, y usualmente (pero no de forma exclusiva) en el nivel molecular. El núcleo principal de estas técnicas se encuentra en la utilización de
    recursos computacionales para solucionar o investigar problemas sobre escalas de tal magnitud que sobrepasan el discernimiento humano. La investigación en biología computacional
    se solapa a menudo con la biología de sistemas. Los principales esfuerzos de investigación en estos campos incluyen el alineamiento de secuencias, la predicción de genes,
    montaje del genoma, alineamiento estructural de proteínas, predicción de estructura de proteínas, predicción de la expresión génica, interacciones proteína-proteína, y
    modelado de la evolución. Una constante en proyectos de bioinformática y biología computacional es el uso de herramientas matemáticas para extraer información útil de
    datos producidos por técnicas biológicas de alta productividad, como la secuenciación del genoma. En particular, el montaje o ensamblado de secuencias genómicas de alta
    calidad desde fragmentos obtenidos tras la secuenciación del ADN a gran escala es un área de alto interés.Otros objetivos incluyen el estudio de la regulación
    genética para interpretar perfiles de expresión génica utilizando datos de chips de ADN o espectrometría de masas.</p>
  <aside id="authorInfo">
    <!-- fuente y colaborar -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a href="https://es.wikipedia.org/wiki/Neurociencia_computacional" title="Wikipedia" target="new"> <i class="fa fa-wikipedia-w"></i></a></h2>
    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=11"> Enlace con el foro de debate.</a></p>
  </div>

</html>