<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<hr>
<h2 class="text-center">Créditos</h2>
<hr>
<div class="col-lg-6 col-lg-offset-3 well">
<table class="paperlist">
  <thead>
  <tr>
    <th>
  <p style="text-align: justify"><strong><a href="http://francescserrat.net">Francesc Serrat</a></strong> Coodrinación general, programación ruby y rails, mantenimiento foros y servidores.</p>
    </th>
  </tr>
  </thead>
 </table>
</div>