<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<body>
<div id="mainwrapper">

  <div id="bannerImage"><center><img class="img-responsive" src="img/BrainChip650.jpg" alt=""/></center></div>
  <br>
  <div class="col-lg-6 col-lg-offset-3 well">
  <p style="text-align: justify">La <strong>Inteligencia artificial</strong> (IA) es un área multidisciplinaria, que a través de ciencias como las ciencias de la computación,
    la matemática, la lógica y la filosofía, estudia la creación y diseño de sistemas capaces de resolver problemas cotidianos por sí mismas utilizando como paradigma la
    inteligencia humana. General y amplio como eso, reúne a amplios campos, los cuales tienen en común la creación de máquinas capaces de pensar. En ciencias de la computación
    se denomina inteligencia artificial a la capacidad de razonar de un agente no vivo. John McCarthy acuñó la expresión «inteligencia artificial» en 1956, y la definió así:
    “Es la ciencia e ingenio de hacer máquinas inteligentes, especialmente programas de cómputo inteligentes”.</>
  <ul>
    <li>Búsqueda del estado requerido en el conjunto de los estados producidos por las acciones posibles.</li>
    <li>Algoritmos genéticos (análogo al proceso de evolución de las cadenas de ADN).</li>
    <li>Redes neuronales artificiales (análogo al funcionamiento físico del cerebro de animales y humanos).</li>
    <li>Razonamiento mediante una lógica formal análogo al pensamiento abstracto humano.</li>
  </ul>
  <p style="text-align: justify">También existen distintos tipos de percepciones y acciones, que pueden ser obtenidas y producidas, respectivamente, por sensores físicos y sensores mecánicos en máquinas,
    pulsos eléctricos u ópticos en computadoras, tanto como por entradas y salidas de bits de un software y su entorno software. Varios ejemplos se encuentran en el área de control
    de sistemas, planificación automática, la habilidad de responder a diagnósticos y a consultas de los consumidores, reconocimiento de escritura, reconocimiento del habla y
    reconocimiento de patrones. Los sistemas de IA actualmente son parte de la rutina en campos como economía, medicina, ingeniería y la milicia, y se ha usado en gran variedad
    de aplicaciones de software, juegos de estrategia, como ajedrez de computador, y otros videojuegos.</p>


  <aside id="authorInfo">
    <!-- fuente y colaborar -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a href="https://es.wikipedia.org/wiki/Inteligencia_artificial" title="Wikipedia" target="new"> <i class="fa fa-wikipedia-w"></i></a></h2>
    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=16"> Enlace con el foro de debate.</a></p>
  </div>
    <div class="col-lg-6 col-lg-offset-3 well">
    <h2>Artículos</h2>

    <table class="paperlist" style="text-align: justify">
      <tbody>
      <tr>
        <td >
          <a href="docs/iacompu">Inteligencia artificial computacional</a>
        </td>
      </tr>

      <tr>
        <td >
          <strong></strong>
        </td>
    </table>

</div>

</div>
</html>