<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>

<div class="col-lg-6 col-lg-offset-3 well">
  <center>
    <img src="img/portada/Kandel.jpg" class="img-responsive" alt="Im&aacute;gen de portada" title="Neurociencia Cognitiva"/>

  </center>
</div>