<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
</div>
<div class="col-lg-6 col-lg-offset-3 well">
  <h2>Links</h2>

  <p style="text-align: justify">La web de neurociencia no acepta intercambio de enlaces. Nosotros creemos que una web debe ser enlazada por sus contenidos, por su valía, no como intercambio mercantil. Si tienes tu propia web, y crees que la Web de Neurociencia merece estar en tus enlaces, ¡adelante! Nosotros enlazaremos aquellas webs que creamos que pueden ser útiles a la comunidad, nos enlacen o no.</p>

    <h3>Instituciones</h3>

    <table class="paperlist" style="text-align: justify">
      <tbody>
      <tr>
        <td >
          <a href="http://inc.uab.cat">Institut de neurociències UAB</a>
        </td>
      </tr>

      <tr>
        <td >
          <a href="http://www.csic.es/">CSIC</a>
        </td>
      </tr>

      <tr>
        <td >
          <a href="http://cognitiveneurolab.org/">UOC - Cognitive neurolab</a>
        </td>
      </tr>
    </table>

  <h3>Universidades y facultades</h3>

  <table class="paperlist" style="text-align: justify">
    <tbody>
    <tr>
      <td >
        <a href="http://www.uab.cat/ciencies/">UAB - Facultad de ciéncias</a>
      </td>
    </tr>
    </table>

  <h3>Asociaciones</h3>

  <table class="paperlist" style="text-align: justify">
    <tbody>
    <tr>
      <td >
        <a href="http://www.senc.es/">Sociedad Española de Neurociencias</a>
      </td>
    </tr>
  </table>


</div>