<html lang="es">
<nav>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</nav>
<br>
<br>
<br>
<body>
<div id="mainwrapper">

  <div id="bannerImage"><center><img class="img-responsive" src="img/chemi.jpg" alt=""/></center></div>
  <br>
  <div class="col-lg-6 col-lg-offset-3 well">
  <p style="text-align: justify">La <strong>Psicofarmacología</strong>  es una disciplina científica que estudia el efecto de fármacos con especial atención a las manifestaciones
    cognitivas, emocionales/motivacionales y conductuales. En este sentido, puede estar relacionada con el estudio o tratamiento farmacológico de la psicopatología.</p>


  <aside id="authorInfo">
    <!-- fuente y colaborar -->
    <h2 style="text-align: right; font-size: 12px;">Fuente:<a href="https://es.wikipedia.org/wiki/Psicofarmacolog%C3%ADa" title="Wikipedia" target="new"> <i class="fa fa-wikipedia-w"></i></a></h2>
    <p style="text-align: justify"><i class="fa fa-pencil-square-o"></i> Si quieres colaborar en esta sección, puedes ponerte en contacto con nosotros utilizando este <a href="mailto:contact@lawebdeneurociencia.com">formulario</a>.</p>
    <p style="text-align: justify"><i class="fa fa-folder-open-o"></i><a href="http://foro.lawebdeneurociencia.com/forumdisplay.php?fid=15"> Enlace con el foro de debate.</a></p>
    </div>
    <div class="col-lg-6 col-lg-offset-3 well">
    <h2>Artículos</h2>

    <table class="paperlist" style="text-align: justify">
      <tbody>
      <tr>
        <td >
          <a href="docs/antidepresivos">Antidepresivos</a>
        </td>
      </tr>

      <tr>
        <td >
          <strong></strong>
        </td>
    </table>

</div>
</html>