// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.paperlist
{
  width: 100%;
  border: 0px solid #222;
}

.paperlist thead
{
  background: #eee;
}

.paperlist tr
{
  border: 0px solid #666;
}

.paperlist td, .paperlist th
{
  padding: 3px 5px;
}

.paperlist tbody tr:hover
{
  background-color: rgba(200,200,200,0.5);
}